/* This sets the default font and removes the default margin */
body {
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #00032B;
    box-sizing: border-box;
   
}

/* Styling for the header section */
/* Styling for the navigation container */
nav.container-fluid {
    font-size: 16px;
    padding: 0px 16px;
    color: #0a495a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for the web-logo */
.web-logo {
    list-style: none;
    margin: 0;
    padding: 0;
}
.web-logo li {
    padding: 16px 8px;
}
.web-logo strong {
    font-size: 16px;
}

/* Styling for the second unordered list */
.menu {
    list-style: none;
    font-size: 16px;
    margin: 0px -8px 0px 0px;
    padding: 0;
    display: flex;
}

.menu li {
    padding: 16px 8px;
}

.menu li a {
    color: white;
    font-size: 16px;
    margin: -8px;
    padding: 8px;
    text-decoration: none;
}


    /* Styling for the main content area */
main {
    padding: 20px; /* Padding around the main content */
}

/* Styling for each section in the main content area */
section {
    margin-bottom: 20px; /* Adding space between sections */
}

/* Styling for the footer */
footer {
    background-color: #04154D; /* Light grey background */
    text-align: center; /* Centering the footer content */
    padding: 20px 0; /* Padding around the footer content */
}

/* Adding a bit of responsive design */
@media (max-width: 600px) {
    nav ul li {
        display: block; /* Stack the navigation items under each other */
        margin-bottom: 10px; /* Add space between stacked items */
    }
}
.container {
    max-width: 1200px; /* Adjust the width as needed */
    margin: 0 auto; /* Centers the content */
    padding: 0 15px; /* Adds some padding on the sides */
}