/* This sets the default font and removes the default margin */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    min-height: 100vh;
    background-color: #00032B;
    color: white;
    margin: 0;
    flex-direction: column;
    font-family: 'lato', sans-serif;
    
    box-sizing: border-box;
    display: flex;
   
}
header {
 padding: 0 1rem; 
 position: fixed;
 z-index: 99;
 width: 100%;
 box-shadow: 0 2px 2px #3a3a3a;
 display: flex;
 justify-content: space-between;
 align-items: baseline;
}

h1 {
    color: aliceblue;
}

header a {
    text-decoration: none;
    color: aliceblue;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;

} 

.active {
    border-bottom: 1px solid #ffffff;
}
/* Navbar style  with dropdown toggle */
nav {
position: absolute;
background-color: #00032B;
width: 100%;
left: 0;
padding: 0 1rem;
box-shadow: 0 2px 2px #00032B;
display: none;
top: 100%;
}

/*Nav TOGGLE */
#nav-toggle:checked~nav {
  display: block;  
}


    /* Styling for the main content area */
main {
    padding: 20px; /* Padding around the main content */
    margin-top: 47px;
}

/* Styling for each section in the main content area */
section {
    margin-bottom: 20px; /* Adding space between sections */
}

/* Styling for the footer */
footer {
    background-color: #04154D; /* Light grey background */
    text-align: center; /* Centering the footer content */
    padding: 20px 0; /* Padding around the footer content */
}

/* Adding a bit of responsive design */
@media (max-width: 600px) {
    nav ul li {
        display: block; /* Stack the navigation items under each other */
        margin-bottom: 10px; /* Add space between stacked items */
    }
}
.container {
    max-width: 1200px; /* Adjust the width as needed */
    margin: 0 auto; /* Centers the content */
    padding: 0 15px; /* Adds some padding on the sides */
}