/* This sets the default font and removes the default margin */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    min-height: 100vh;
    background-color: #00032B;
    color: white;
    margin: 0;
    flex-direction: column;
    font-family: 'lato', sans-serif;
    
    box-sizing: border-box;
    display: flex;
   
}
header {
 padding: 0 1rem; 
 position: fixed;
 z-index: 99;
 width: 100%;
 box-shadow: 0 2px 2px #3a3a3a;
 display: flex;
 justify-content: space-between;
 align-items: baseline;
}


header a {
    text-decoration: none;
    color: aliceblue;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;

} 

.active {
    border-bottom: 1px solid #ffffff;
}

/* Navbar style  with dropdown toggle */
nav {
position: absolute;
background-color: #00032B;
width: 100%;
left: 0;
padding: 0 1rem;
box-shadow: 0 2px 2px #00032B;
display: none;
top: 100%;
}

/*Nav TOGGLE */
#nav-toggle:checked~nav {
  display: block;  

}

#nav-toggle {
    display: none;
}
    /* Styling for the main content area */
main {
    padding: 20px; /* Padding around the main content */
    margin-top: 47px;
    
}

/* Styling for each section in the main content area */
section {
    margin-bottom: 20px; /* Adding space between sections */
    text-align: center;
}
section div {
    text-align: center;
    width: 100%;
}

#breathing-image {
padding: 30px;

}

/* Styling for the footer */

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
   justify-content: space-evenly; 
   list-style-type: none;
   
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/* Adding a bit of responsive design */
@media screen and (min-width: 768px) {
    
    nav {
        display: block; /* Stack the navigation items under each other */
        position: relative;
        width: fit-content;
        box-shadow: none;
        padding-right: 1rem;
    }
#menu {
    display: flex;

}
 
#menu > li {
    padding-left: 1rem;
}

.nav-toggle-label {
  display: none;  
}

main {
    margin-top: 79px;
}

}

@media screen and ( min-width:992px ) {
    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }
    
}
